@{
    ViewBag.Title = "CommissionManage";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="page_title">
    <h2 class="fl">佣金记录</h2>

</div>
<table class="table">
    <tr>
        <th>编号</th>
        <th>商品名称</th>
        <th>最终价格</th>
        <th>收取佣金</th>
        <th>运费</th>
        <th>合计到账</th>
    </tr>
    @{
        List<AuctionWeb.Models.OrderInfo> mlist = (List<AuctionWeb.Models.OrderInfo>)ViewData["List"];
        foreach (var item in mlist)
        {
            <tr>
                <td class="center">@item.Id</td>
                <td class="center">@item.GoodsInfo.GoodsName</td>
               
                <td class="center">@item.GoodsInfo.CurrentPrice</td>

                <td class="center">@(Convert.ToDouble(item.GoodsInfo.CurrentPrice) * 0.1) 元</td>
                <td class="center">200 元</td>
                <td class="center">@(Convert.ToDouble(item.GoodsInfo.CurrentPrice) * 0.9 - 200)元</td>
            </tr>
        }
    }
</table>
<aside class="paging">
    @Html.Raw(ViewData["PageBar"])

</aside>
