@model AuctionWeb.Models.GoodsInfo
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

@section scripts{
    <script>

        function startRead() {
            var fileDom = document.getElementById("ImagePath");
            var img = document.getElementById("pic");
            if (fileDom && img) {
                flieHandle(fileDom, img)
            }
        }
        function flieHandle(fileDom, img) {
            //读取计算机文件
            var file = fileDom.files[0];
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onloadstart = function () {
                console.log('文件上传处理......');
            };
            //操作完成
            reader.onload = function (e) {
                //flie 对象的属性
                img.setAttribute('src', reader.result);
            };
        }
        function submit() {
            if (!editCheck())
                return false;
            //时间限制
            if (!CheckTime())
                return false;
            //倒计时限制
            var CountDown = document.getElementById("CountDown");
            var ival = parseInt(CountDown);
            if (ival > 15) {
                alert("倒计时时间必须小于15分钟！");
                return false;
            }
            //藏品描述
            var GoodsDescription = document.getElementById("GoodsDescription");
            if (GoodsDescription.value == "") {
                alert("藏品描述不能为空！");
                return false;
            }
            var addForm = document.getElementById("addForm");
            addForm.submit();
        }
    </script>

}
<section>
    <h2><strong style="color:grey;">分列内容布局</strong></h2>
    <form id="addForm" method="post" action="/GoodsInfo/Edit" enctype="multipart/form-data">
        <ul class="ulColumn2">
            <li>
           
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="isSucc" value="@Model.isSucc" />
                <input type="hidden" name="AddTime" value="@Model.AddTime" />
                <input type="hidden" name="AdminId" value="@Model.AdminId" />
                <input type="hidden" name="PurchaserId" value="@Model.PurchaserId" />
                <input type="hidden" name="CurrentPrice" value="@Model.CurrentPrice" />
                <input type="hidden" name="Status" value="@Model.Status" />
                <span class="item_name" style="width:120px;">藏品名称：</span>
                <input type="text" id="GoodsName" value="@Model.GoodsName" name="GoodsName" title="请输入藏品名称" class="textbox textbox_295" placeholder="藏品名称" />
            </li>
            <li>
                <span class="item_name" style="width:120px;">藏品类型：</span>
                <select class="select" id="GoodsType" name="GoodsType">
                    <option selected="selected">@Model.GoodsType</option>
                    <option>古董</option>
                    <option>珠宝</option>
                    <option>资产</option>
                    <option>房产</option>
                    <option>汽车</option>
                    <option>奢侈品</option>
                    <option>文玩</option>
                    <option>其他</option>
                </select>
            </li>
            <li>
                <span class="item_name" style="width:120px;">详细描述：</span>
                <textarea placeholder="详细描述" id="GoodsDescription" name="GoodsDescription" class="textarea" style="width:500px;height:100px;">
                    @Model.GoodsDescription
                </textarea>
            </li>
            <li>
                <span class="item_name" style="width:120px;">上传图片：</span>
                <label class="uploadImg">
                    <input type="file" value="@Model.ImagePath" id="ImagePath" name="ImagePath" onchange="startRead()" />
                    <span>上传图片</span>
                </label>
                <img width="85" height="85" src="@Model.ImagePath" id="pic" />
                <input type="hidden" name="oldPic" value="@Model.ImagePath" />
            </li>
            <li>
                <span class="item_name" style="width:120px;">藏品数量：</span>
                <input type="number" title="请输入藏品数量" id="Num" name="Num" value="@Model.Num" class="textbox textbox_295" placeholder="请输入整数" />
            </li>
            <li>
                <span class="item_name" style="width:120px;">起拍价格：</span>
                <input type="text" id="BeginPrice" name="BeginPrice" value="@Model.BeginPrice" title="请输入起拍价格" class="textbox textbox_295" placeholder="请输入数字" />
            </li>
            <li>
                <span class="item_name" style="width:120px;">竞价阶梯：</span>
                <input type="text" id="PriceLevel" name="PriceLevel" value="@Model.PriceLevel"  title="请输入竞价阶梯" class="textbox textbox_295" placeholder="请输入数字如：1000" />
            </li>
            <li>
                <span class="item_name" style="width:120px;">起拍时间：</span>
                <input type="datetime-local" title="请输入起拍时间" value= "@Convert.ToDateTime(Model.StartTime).ToString("yyyy-MM-ddTHH:mm:ss")"  id="StartTime" name="StartTime" class="textbox textbox_295" />
            </li>
            <li>
                <span class="item_name" style="width:120px;">结束时间：</span>
                <input type="datetime-local" title="请输入结束时间" value="@Convert.ToDateTime(Model.EndTime).ToString("yyyy-MM-ddTHH:mm:ss")" id="EndTime" name="EndTime" class="textbox textbox_295" />
            </li>
            <li>
                <span class="item_name" style="width:120px;">倒计时：</span>
                <input type="number" title="请输入倒计时" id="CountDown" value="@Model.CountDown" name="CountDown" class="textbox textbox_295" /> &nbsp;分钟
            </li>
            <li>
                <span class="item_name" style="width:120px;"></span>
                <a class="link_btn" href="#" onclick="submit()">上传</a>
            </li>
        </ul>
    </form>
</section>
